# **<h3 align="center"> Capstone Project</h3>**
## **<h3 align="center"> Segmentation Analysis - Classification Problem </h3>**
**Group members:**<br>
Alexandra Pinto - 20211599@novaims.unl.pt - 20211599<br>
Ilona Nacu - 20211602@novaims.unl.pt - 20211602<br>
Francisco Farinha - 20211550@novaims.unl.pt - 20211550<br>
João Barradas - 20211590@novaims.unl.pt - 20211590<br>
Rafael Proença  - 2021681@novaims.unl.pt - 2021681<br>

-----------------------------------------------------
In this notebook we will use two datasets to have more info about costumers. Our goal is to do segmentation of our cluters. <br>
For this, we decided to use one of the datasets that firstly we selected for doing the DataBase of movies. This dataset boasts numerous compelling features that we believe will significantly enhance the segmentation process. Rather than generating potentially unreliable or untruthful data, tapping into this existing dataset appears to be a more reliable and insightful approach

## Imports

In [1]:
import pandas as pd

## Loading the data

In [2]:
rot_reviews = pd.read_csv('Data/Movie_files/archive (2)/rotten_tomatoes_movie_reviews.csv')
rot_movies = pd.read_csv('Data/Movie_files/archive (2)/rotten_tomatoes_movies.csv')

## Preparing data

https://www.kaggle.com/datasets/stefanoleone992/rotten-tomatoes-movies-and-critic-reviews-dataset?select=rotten_tomatoes_critic_reviews.csv

In [3]:
rot_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1444963 entries, 0 to 1444962
Data columns (total 11 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   id              1444963 non-null  object
 1   reviewId        1444963 non-null  int64
 2   creationDate    1444963 non-null  object
 3   criticName      1444963 non-null  object
 4   isTopCritic     1444963 non-null  bool
 5   originalScore   1009745 non-null  object
 6   reviewState     1444963 non-null  object
 7   publicatioName  1444963 non-null  object
 8   reviewText      1375738 non-null  object
 9   scoreSentiment  1444963 non-null  object
 10  reviewUrl       1234038 non-null  object
dtypes: bool(1), int64(1), object(9)
memory usage: 111.6+ MB

In [4]:
rot_reviews

,id,reviewId,creationDate,criticName,isTopCritic,originalScore,reviewState,publicatioName,reviewText,scoreSentiment,reviewUrl
0,beavers,1145982,2003-05-23,Ivan M. Lincoln,False,3.5/4,fresh,Deseret News (Salt Lake City),Timed to be just long enough for most youngste...,POSITIVE,http://www.deseretnews.com/article/700003233/B...
1,blood_mask,1636744,2007-06-02,The Foywonder,False,1/5,rotten,Dread Central,It doesn't matter if a movie costs 300 million...,NEGATIVE,http://www.dreadcentral.com/index.php?name=Rev...
2,city_hunter_shinjuku_private_eyes,2590987,2019-05-28,Reuben Baron,False,NaN,fresh,CBR,The choreography is so precise and lifelike at...,POSITIVE,https://www.cbr.com/city-hunter-shinjuku-priva...
3,city_hunter_shinjuku_private_eyes,2558908,2019-02-14,Matt Schley,False,2.5/5,rotten,Japan Times,The film's out-of-touch attempts at humor may ...,NEGATIVE,https://www.japantimes.co.jp/culture/2019/02/0...
4,dangerous_men_2015,2504681,2018-08-29,Pat Padua,False,NaN,fresh,DCist,Its clumsy determination is endearing and some...,POSITIVE,http://dcist.com/2015/11/out_of_frame_dangerou...
...,...,...,...,...,...,...,...,...,...,...,...
1444958,thor_love_and_thunder,102706151,2022-07-05,Christie Cronan,False,7/10,fresh,Raising Whasians,Solid but not totally sold&#44; Thor&#58; Ragn...,POSITIVE,https://raisingwhasians.com/thor-love-and-thun...
1444959,thor_love_and_thunder,102706150,2022-07-05,Ian Sandwell,False,4/5,fresh,Digital Spy,Thor&#58; Love and Thunder is the most enterta...,POSITIVE,https://www.digitalspy.com/movies/a40496050/th...
1444960,thor_love_and_thunder,102706149,2022-07-05,Lauren LaMagna,False,8/10,fresh,Next Best Picture,&quot;Thor&#58; Love and Thunder&quot; is a st...,POSITIVE,https://www.nextbestpicture.com/thor-love-and-...
1444961,thor_love_and_thunder,102706148,2022-07-05,Jake Cole,True,1/4,rotten,Slant Magazine,Across Taika Waititi&#8217;s film&#44; a war a...,NEGATIVE,https://www.slantmagazine.com/film/thor-love-a...
1444962,thor_love_and_thunder,102706147,2022-07-05,Roger Moore,False,2.5/4,fresh,Movie Nation,It&#8217;s the jokes that make it&#44; with th...,POSITIVE,https://rogersmovienation.com/2022/07/05/movie...

In [5]:
rot_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143258 entries, 0 to 143257
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    143258 non-null  object
 1   title                 142891 non-null  object
 2   audienceScore         73248 non-null   float64
 3   tomatoMeter           33877 non-null   float64
 4   rating                13991 non-null   object
 5   ratingContents        13991 non-null   object
 6   releaseDateTheaters   30773 non-null   object
 7   releaseDateStreaming  79420 non-null   object
 8   runtimeMinutes        129431 non-null  float64
 9   genre                 132175 non-null  object
 10  originalLanguage      129400 non-null  object
 11  director              139041 non-null  object
 12  writer                90116 non-null   object
 13  boxOffice             14743 non-null   object
 14  distributor           23001 non-null   object
 15  soundMix              15917 non-null   object
dtypes: float64(3), object(13)
memory usage: 17.5+ MB

In [6]:
rot_movies

,id,title,audienceScore,tomatoMeter,rating,ratingContents,releaseDateTheaters,releaseDateStreaming,runtimeMinutes,genre,originalLanguage,director,writer,boxOffice,distributor,soundMix
0,space-zombie-bingo,Space Zombie Bingo!,50.0,NaN,NaN,NaN,NaN,2018-08-25,75.0,"Comedy, Horror, Sci-fi",English,George Ormrod,"George Ormrod,John Sabotta",NaN,NaN,NaN
1,the_green_grass,The Green Grass,NaN,NaN,NaN,NaN,NaN,2020-02-11,114.0,Drama,English,Tiffany Edwards,Tiffany Edwards,NaN,NaN,NaN
2,love_lies,"Love, Lies",43.0,NaN,NaN,NaN,NaN,NaN,120.0,Drama,Korean,"Park Heung-Sik,Heung-Sik Park","Ha Young-Joon,Jeon Yun-su,Song Hye-jin",NaN,NaN,NaN
3,the_sore_losers_1997,Sore Losers,60.0,NaN,NaN,NaN,NaN,2020-10-23,90.0,"Action, Mystery & thriller",English,John Michael McCarthy,John Michael McCarthy,NaN,NaN,NaN
4,dinosaur_island_2002,Dinosaur Island,70.0,NaN,NaN,NaN,NaN,2017-03-27,80.0,"Fantasy, Adventure, Animation",English,Will Meugniot,John Loy,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143253,nadia_the_secret_of_blue_water_the_motion_pict...,Nadia: The Secret of Blue Water: The Motion Pi...,14.0,NaN,NaN,NaN,2002-08-27,NaN,90.0,"Action, Adventure, Anime",Japanese,Sho Aono,Kaoru Umeno,NaN,ADV Films,NaN
143254,everyone_i_knew_and_loved,Everyone I Knew and Loved,NaN,NaN,NaN,NaN,NaN,NaN,99.0,Drama,English,Andrew Behringer,Erika Heidewald,NaN,NaN,NaN
143255,the-human-body,The Human Body,71.0,89.0,NaN,NaN,NaN,NaN,43.0,Documentary,English,Peter Georgi,Richard Dale,NaN,NaN,NaN
143256,flying_fists,Flying Fists,NaN,NaN,NaN,NaN,NaN,2006-11-21,63.0,Drama,English,Robert F. Hill,"Robert F. Hill,Basil Dickey",NaN,NaN,NaN
143257,awakening-2005,Awakening,NaN,NaN,NaN,NaN,NaN,NaN,90.0,Horror,English,David J. Francis,"David J. Francis,Mike Masters",NaN,NaN,NaN

In [7]:
merged_rot = pd.merge(rot_reviews, rot_movies, on='id', how='inner')

In [8]:
merged_rot = merged_rot.drop_duplicates(subset='title')

print("\nDataFrame after dropping duplicates based on 'title':")
print(merged_rot.shape)

DataFrame after dropping duplicates based on 'title':
(63406, 26)

In [9]:
merged_rot.info()

<class 'pandas.core.frame.DataFrame'>
Index: 63406 entries, 0 to 1469109
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    63406 non-null  object
 1   reviewId              63406 non-null  int64
 2   creationDate          63406 non-null  object
 3   criticName            63406 non-null  object
 4   isTopCritic           63406 non-null  bool
 5   originalScore         37270 non-null  object
 6   reviewState           63406 non-null  object
 7   publicatioName        63406 non-null  object
 8   reviewText            59971 non-null  object
 9   scoreSentiment        63406 non-null  object
 10  reviewUrl             59221 non-null  object
 11  title                 63405 non-null  object
 12  audienceScore         45729 non-null  float64
 13  tomatoMeter           30189 non-null  float64
 14  rating                10090 non-null  object
 15  ratingContents        10090 non-null  object
 16  releaseDateTheaters   22562 non-null  object
 17  releaseDateStreaming  43425 non-null  object
 18  runtimeMinutes        56519 non-null  float64
 19  genre                 57609 non-null  object
 20  originalLanguage      56808 non-null  object
 21  director              62623 non-null  object
 22  writer                42489 non-null  object
 23  boxOffice             12633 non-null  object
 24  distributor           18438 non-null  object
 25  soundMix              10796 non-null  object
dtypes: bool(1), float64(3), int64(1), object(21)
memory usage: 12.6+ MB

In [10]:
columns_to_drop = ['id', 'reviewId', 'creationDate', 'publicatioName', 'reviewText', 'reviewUrl', 'title',
                    'rating', 'ratingContents', 'runtimeMinutes', 'distributor', 'soundMix']

merged_rot.drop(columns=columns_to_drop, inplace=True)

In [11]:
print("Merged DataFrame:")
print(merged_rot.shape)

# Dropping rows with missing values
merged_rot = merged_rot.dropna()

print("\nDataFrame after dropping rows with missing values:")
print(merged_rot.shape)  # Displaying the first few rows of the resulting DataFrame without missing values

Merged DataFrame:
(63406, 14)

DataFrame after dropping rows with missing values:
(5166, 14)

In [12]:
merged_rot

,criticName,isTopCritic,originalScore,reviewState,scoreSentiment,audienceScore,tomatoMeter,releaseDateTheaters,releaseDateStreaming,genre,originalLanguage,director,writer,boxOffice
292,Mal Vincent,False,3/4,fresh,POSITIVE,56.0,88.0,1994-07-22,2002-03-12,Drama,English,Daniel Petrie,"Matthew Jacobs,Gary Ross,Elizabeth Anderson",$8.3M
336,Nicholas Bell,False,1/5,rotten,NEGATIVE,51.0,7.0,2014-10-10,2015-02-10,"Drama, Mystery & thriller",English,Bille Woodruff,"Christina Welsh,Ernie Barbarash",$17.4M
421,Richard Crouse,False,3/5,fresh,POSITIVE,66.0,73.0,2015-02-20,2015-06-09,"Romance, Comedy",English,Ari Sandel,Josh A. Cagan,$34.0M
551,Mick LaSalle,True,4/4,fresh,POSITIVE,84.0,75.0,1993-02-26,2000-08-15,Action,English,Joel Schumacher,Ebbe Roe Smith,$40.4M
722,Nick Evan-Cook,False,3/5,fresh,POSITIVE,68.0,90.0,2015-11-20,2016-03-15,"Documentary, History, Drama",Hebrew,Mor Loushy,"Mor Loushy,Daniel Sivan,Ran Tal",$34.2K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465922,Brian Eggert,False,2/4,rotten,NEGATIVE,49.0,80.0,2011-12-16,2012-03-13,"Comedy, Drama, Romance",English,Jason Reitman,Diablo Cody,$16.3M
1466125,Cody Dericks,False,4/10,rotten,NEGATIVE,89.0,46.0,2021-07-02,2021-07-02,"Kids & family, Comedy, Adventure, Animation",English,Tom McGrath,Michael McCullers,$57.3M
1466289,Richard Crouse,False,3/5,fresh,POSITIVE,59.0,57.0,2016-03-11,2016-01-26,"War, Drama",English,Paul Gross,Paul Gross,$1.4K
1466459,Keith Garlington,False,2/5,rotten,NEGATIVE,48.0,34.0,2018-12-21,2019-03-26,"Biography, Comedy, Drama, Fantasy",English,Robert Zemeckis,"Robert Zemeckis,Caroline Thompson",$10.7M
1469109,Annie Banks,False,5/10,rotten,NEGATIVE,77.0,63.0,2022-07-08,2022-09-08,"Action, Adventure, Fantasy, Comedy",English,Taika Waititi,"Taika Waititi,Jennifer Kaytin Robinson",$343.2M