
# **<h3 align="center"> Capstone Project</h3>**
## **<h3 align="center">Books - Preprocessing</h3>**
**Group members:**<br>
Alexandra Pinto - 20211599@novaims.unl.pt - 20211599<br>
Ilona Nacu - 20211602@novaims.unl.pt - 20211602<br>
Francisco Farinha - 20211550@novaims.unl.pt - 20211550<br>
João Barradas - 20211590@novaims.unl.pt - 20211590<br>
Rafael Proença  - 2021681@novaims.unl.pt - 2021681<br>

-----------------------------
## Imports

In [9]:
import pandas as pd

----------------------------
## Loading the datasets
Now it is time to, through a function, open the csv files. Inside the archive we have different datasets divided by genre. Since our goal is to have a more complete dataset we will join this datasets. All the datasets were provided by Kaggle:
- preproc_books - https://www.kaggle.com/datasets/ruchi798/bookcrossing-dataset (Retrieved at 20 november)

In [10]:
preproc_books = pd.read_csv('Data/Book_files/Preprocessed_data.csv')
preproc_books.head(3)

,Unnamed: 0,user_id,location,age,isbn,rating,book_title,book_author,year_of_publication,publisher,img_s,img_m,img_l,Summary,Language,Category,city,state,country
0,0,2,"stockton, california, usa",18.0000,0195153448,0,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,Provides an introduction to classical myths pl...,en,['Social Science'],stockton,california,usa
1,1,8,"timmins, ontario, canada",34.7439,0002005018,5,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],timmins,ontario,canada
2,2,11400,"ottawa, ontario, canada",49.0000,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],ottawa,ontario,canada

-------------------------------------
## Preproc Books -  Preprocessing

In [11]:
preproc_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031175 entries, 0 to 1031174
Data columns (total 19 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   Unnamed: 0           1031175 non-null  int64
 1   user_id              1031175 non-null  int64
 2   location             1031175 non-null  object
 3   age                  1031175 non-null  float64
 4   isbn                 1031175 non-null  object
 5   rating               1031175 non-null  int64
 6   book_title           1031175 non-null  object
 7   book_author          1031174 non-null  object
 8   year_of_publication  1031175 non-null  float64
 9   publisher            1031175 non-null  object
 10  img_s                1031175 non-null  object
 11  img_m                1031175 non-null  object
 12  img_l                1031175 non-null  object
 13  Summary              1031175 non-null  object
 14  Language             1031175 non-null  object
 15  Category             1031175 non-null  object
 16  city                 1017072 non-null  object
 17  state                1008377 non-null  object
 18  country              995801 non-null   object
dtypes: float64(2), int64(3), object(14)
memory usage: 149.5+ MB

Using info() we see that we have some missing values, so we will delete them.

In [12]:
preproc_books.dropna(inplace=True)
preproc_books.info()

<class 'pandas.core.frame.DataFrame'>
Index: 982278 entries, 0 to 1031174
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           982278 non-null  int64
 1   user_id              982278 non-null  int64
 2   location             982278 non-null  object
 3   age                  982278 non-null  float64
 4   isbn                 982278 non-null  object
 5   rating               982278 non-null  int64
 6   book_title           982278 non-null  object
 7   book_author          982278 non-null  object
 8   year_of_publication  982278 non-null  float64
 9   publisher            982278 non-null  object
 10  img_s                982278 non-null  object
 11  img_m                982278 non-null  object
 12  img_l                982278 non-null  object
 13  Summary              982278 non-null  object
 14  Language             982278 non-null  object
 15  Category             982278 non-null  object
 16  city                 982278 non-null  object
 17  state                982278 non-null  object
 18  country              982278 non-null  object
dtypes: float64(2), int64(3), object(14)
memory usage: 149.9+ MB

In [13]:
# Assuming 'preproc_books' is your DataFrame
columns_to_drop = ['Unnamed: 0', 'user_id', 'location', 'img_s', 'img_m', 'img_l', 'age']
preproc_books.drop(columns=columns_to_drop, inplace=True)

print("\nDataFrame after dropping specified columns:")
preproc_books.head(2)

DataFrame after dropping specified columns:

,isbn,rating,book_title,book_author,year_of_publication,publisher,Summary,Language,Category,city,state,country
0,0195153448,0,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,Provides an introduction to classical myths pl...,en,['Social Science'],stockton,california,usa
1,0002005018,5,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],timmins,ontario,canada