# **<h3 align="center"> Capstone Project</h3>**
## **<h3 align="center">Movies - Preprocessing</h3>**
**Group members:**<br>
Alexandra Pinto - 20211599@novaims.unl.pt - 20211599<br>
Ilona Nacu - 20211602@novaims.unl.pt - 20211602<br>
Francisco Farinha - 20211550@novaims.unl.pt - 20211550<br>
João Barradas - 20211590@novaims.unl.pt - 20211590<br>
Rafael Proença  - 2021681@novaims.unl.pt - 2021681<br>

## Imports

In [356]:
import pandas as pd

## Loading the datasets

Now it is time to, through a function, open the csv files. Since our goal is to have a more complete dataset we will join this datasets. All the datasets were provided by Kaggle:
- rot_critic and rot_movies - https://www.kaggle.com/datasets/andrezaza/clapper-massive-rotten-tomatoes-movies-and-reviews
 (Retrieved at 20 november)
- rot_movies2 and rot_2 - https://www.kaggle.com/datasets/stefanoleone992/rotten-tomatoes-movies-and-critic-reviews-dataset?select=rotten_tomatoes_critic_reviews.csv
- movies - https://www.kaggle.com/datasets/karkavelrajaj/imdb-top-250-movies
- reel_review - https://www.kaggle.com/datasets/s4lman/reelview-top-movie-lists-reviews

In [357]:
rot_critic = pd.read_csv(r'Data/Movie_Files/archive/rotten_tomatoes_critic_reviews.csv')
rot_movies = pd.read_csv(r'Data/Movie_Files/archive/rotten_tomatoes_movies.csv')
rot_movies2 = pd.read_csv(r'Data/Movie_files/archive (2)/rotten_tomatoes_movie_reviews.csv')
rot_2 = pd.read_csv(r'Data/Movie_files/archive (2)/rotten_tomatoes_movies.csv')
movies = pd.read_csv(r'Data/Movie_Files/movies.csv')
reel_review = pd.read_csv(r'Data\\Movie_Files\\ReelView.csv')

In [358]:
print("\nRot_critic:")
rot_critic.head(3)

Rot_critic:

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
0,m/0814255,Andrew L. Urban,False,Urban Cinefile,Fresh,NaN,2010-02-06,A fantasy adventure that fuses Greek mythology...
1,m/0814255,Louise Keller,False,Urban Cinefile,Fresh,NaN,2010-02-06,"Uma Thurman as Medusa, the gorgon with a coiff..."
2,m/0814255,NaN,False,FILMINK (Australia),Fresh,NaN,2010-02-09,With a top-notch cast and dazzling special eff...

In [359]:
print("\nRot_movies:")
rot_movies.head(3)

Rot_movies:

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8

In [360]:
print("\nRot_movies2:")
rot_movies2.head(3)

Rot_movies2:

,id,reviewId,creationDate,criticName,isTopCritic,originalScore,reviewState,publicatioName,reviewText,scoreSentiment,reviewUrl
0,beavers,1145982,2003-05-23,Ivan M. Lincoln,False,3.5/4,fresh,Deseret News (Salt Lake City),Timed to be just long enough for most youngste...,POSITIVE,http://www.deseretnews.com/article/700003233/B...
1,blood_mask,1636744,2007-06-02,The Foywonder,False,1/5,rotten,Dread Central,It doesn't matter if a movie costs 300 million...,NEGATIVE,http://www.dreadcentral.com/index.php?name=Rev...
2,city_hunter_shinjuku_private_eyes,2590987,2019-05-28,Reuben Baron,False,NaN,fresh,CBR,The choreography is so precise and lifelike at...,POSITIVE,https://www.cbr.com/city-hunter-shinjuku-priva...

In [361]:
print("\nRot_2:")
rot_2.head(3)

Rot_2:

,id,title,audienceScore,tomatoMeter,rating,ratingContents,releaseDateTheaters,releaseDateStreaming,runtimeMinutes,genre,originalLanguage,director,writer,boxOffice,distributor,soundMix
0,space-zombie-bingo,Space Zombie Bingo!,50.0,NaN,NaN,NaN,NaN,2018-08-25,75.0,"Comedy, Horror, Sci-fi",English,George Ormrod,"George Ormrod,John Sabotta",NaN,NaN,NaN
1,the_green_grass,The Green Grass,NaN,NaN,NaN,NaN,NaN,2020-02-11,114.0,Drama,English,Tiffany Edwards,Tiffany Edwards,NaN,NaN,NaN
2,love_lies,"Love, Lies",43.0,NaN,NaN,NaN,NaN,NaN,120.0,Drama,Korean,"Park Heung-Sik,Heung-Sik Park","Ha Young-Joon,Jeon Yun-su,Song Hye-jin",NaN,NaN,NaN

In [362]:
print("\Movies:")
movies.head(3)

\Movies:

,rank,movie_id,title,year,link,imbd_votes,imbd_rating,certificate,duration,genre,...,director_id,director_name,writer_id,writer_name,storyline,user_id,user_name,review_id,review_title,review_content
0,1,tt0111161,The Shawshank Redemption,1994,https://www.imdb.com/title/tt0111161,"2,711,075",9.3,R,2h 22m,Drama,...,nm0001104,Frank Darabont,"nm0000175,nm0001104","Stephen King,Frank Darabont","Over the course of several years, two convicts...","ur16161013,ur15311310,ur0265899,ur16117882,ur1...","hitchcockthelegend,Sleepin_Dragon,EyeDunno,ale...","rw2284594,rw6606154,rw1221355,rw1822343,rw1288...","Some birds aren't meant to be caged.,An incred...",The Shawshank Redemption is written and direct...
1,2,tt0068646,The Godfather,1972,https://www.imdb.com/title/tt0068646,"1,882,829",9.2,R,2h 55m,"Crime,Drama",...,nm0000338,Francis Ford Coppola,"nm0701374,nm0000338","Mario Puzo,Francis Ford Coppola",The aging patriarch of an organized crime dyna...,"ur24740649,ur86182727,ur15794099,ur15311310,ur...","CalRhys,andrewburgereviews,gogoschka-1,Sleepin...","rw3038370,rw4756923,rw4059579,rw6568526,rw1897...","The Pinnacle Of Flawless Films!,An offer so go...",'The Godfather' is the pinnacle of flawless fi...
2,3,tt0468569,The Dark Knight,2008,https://www.imdb.com/title/tt0468569,"2,684,051",9.0,PG-13,2h 32m,"Action,Crime,Drama",...,nm0634240,Christopher Nolan,"tt0468569,nm0634300,nm0634240,nm0275286,tt0468569","Writers,Jonathan Nolan,Christopher Nolan,David...",When the menace known as the Joker wreaks havo...,"ur87850731,ur1293485,ur129557514,ur12449122,ur...","MrHeraclius,Smells_Like_Cheese,dseferaj,little...","rw5478826,rw1914442,rw6606026,rw1917099,rw5170...","The Dark Knight,The Batman of our dreams! So m...","Confidently directed, dark, brooding, and pack..."

In [363]:

print("\nreel_review:")
reel_review.head(3)

reel_review:

,title,stars_rating,run_time,release_date,mpaa_rating,genre,director,cast
0,Terms of Endearment,2.5,132.0,1983.0,"Profanity, Sexual Content",Drama/Comedy,James L. Brooks,"Shirley MacLaine, Debra Winger, Jack Nicholson..."
1,1917,3.5,110.0,2019.0,"Violence, Disturbing Images",War,Sam Mendes,"George MacKay, Dean-Charles Chapman"
2,Spies in Disguise,2.0,101.0,2019.0,NaN,Animated,"Nick Bruno, Troy Quane","Will Smith, Tom Holland, Rashida Jones, Ben Me..."

There are some features that have different names but they are similar, for that, after merging all the datasets we need to:
- Remove NaN values
- Eliminate duplicates
- Change name variables

-------------------------------------
## Massive rotten tomatoes movies and reviews - Preprocessing

This dataset provided by Kaggle is divided into two datasets, so, we will merged them by _rotten_tomatoes_link_.

In [364]:
# Merging the DataFrames on 'rotten_tomatoes_link'
merged_df = pd.merge(rot_critic, rot_movies, on='rotten_tomatoes_link', how='inner')
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1129887 entries, 0 to 1129886
Data columns (total 29 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   rotten_tomatoes_link              1129887 non-null  object
 1   critic_name                       1111366 non-null  object
 2   top_critic                        1129887 non-null  bool
 3   publisher_name                    1129887 non-null  object
 4   review_type                       1129887 non-null  object
 5   review_score                      823985 non-null   object
 6   review_date                       1129887 non-null  object
 7   review_content                    1064109 non-null  object
 8   movie_title                       1129887 non-null  object
 9   movie_info                        1120202 non-null  object
 10  critics_consensus                 991907 non-null   object
 11  content_rating                    1129887 non-null  object
 12  genres                            1129642 non-null  object
 13  directors                         1115423 non-null  object
 14  authors                           1075164 non-null  object
 15  actors                            1119492 non-null  object
 16  original_release_date             1106787 non-null  object
 17  streaming_release_date            1119728 non-null  object
 18  runtime                           1121623 non-null  float64
 19  production_company                1118061 non-null  object
 20  tomatometer_status                1128421 non-null  object
 21  tomatometer_rating                1128421 non-null  float64
 22  tomatometer_count                 1128421 non-null  float64
 23  audience_status                   1093166 non-null  object
 24  audience_rating                   1125598 non-null  float64
 25  audience_count                    1125230 non-null  float64
 26  tomatometer_top_critics_count     1129887 non-null  int64
 27  tomatometer_fresh_critics_count   1129887 non-null  int64
 28  tomatometer_rotten_critics_count  1129887 non-null  int64
dtypes: bool(1), float64(5), int64(3), object(20)
memory usage: 242.4+ MB

We have some missing values. Since we have a lot of data we will delete all those rows that have null values.

In [365]:
# Dropping rows with missing values
merged_rot = merged_df.dropna()

print("\nDataFrame after dropping rows with missing values:")
merged_rot.head(3)  # Displaying the first few rows of the resulting DataFrame without missing values

DataFrame after dropping rows with missing values:

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content,movie_title,movie_info,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
3,m/0814255,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5/5,2010-02-09,Whether audiences will get behind The Lightnin...,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
6,m/0814255,Nick Schager,False,Slant Magazine,Rotten,1/4,2010-02-10,Harry Potter knockoffs don't come more transpa...,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
7,m/0814255,Bill Goodykoontz,True,Arizona Republic,Fresh,3.5/5,2010-02-10,"Percy Jackson isn't a great movie, but it's a ...",Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76

In [366]:
merged_rot.info()

<class 'pandas.core.frame.DataFrame'>
Index: 613419 entries, 3 to 1129874
Data columns (total 29 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   rotten_tomatoes_link              613419 non-null  object
 1   critic_name                       613419 non-null  object
 2   top_critic                        613419 non-null  bool
 3   publisher_name                    613419 non-null  object
 4   review_type                       613419 non-null  object
 5   review_score                      613419 non-null  object
 6   review_date                       613419 non-null  object
 7   review_content                    613419 non-null  object
 8   movie_title                       613419 non-null  object
 9   movie_info                        613419 non-null  object
 10  critics_consensus                 613419 non-null  object
 11  content_rating                    613419 non-null  object
 12  genres                            613419 non-null  object
 13  directors                         613419 non-null  object
 14  authors                           613419 non-null  object
 15  actors                            613419 non-null  object
 16  original_release_date             613419 non-null  object
 17  streaming_release_date            613419 non-null  object
 18  runtime                           613419 non-null  float64
 19  production_company                613419 non-null  object
 20  tomatometer_status                613419 non-null  object
 21  tomatometer_rating                613419 non-null  float64
 22  tomatometer_count                 613419 non-null  float64
 23  audience_status                   613419 non-null  object
 24  audience_rating                   613419 non-null  float64
 25  audience_count                    613419 non-null  float64
 26  tomatometer_top_critics_count     613419 non-null  int64
 27  tomatometer_fresh_critics_count   613419 non-null  int64
 28  tomatometer_rotten_critics_count  613419 non-null  int64
dtypes: bool(1), float64(5), int64(3), object(20)
memory usage: 136.3+ MB

Since our dataset is about reviews, it is normal to have duplicates, but, for this we don't need the duplicated rows.

In [367]:
print("\nDataFrame before:")
print(merged_rot.shape)

merged_rot = merged_rot.drop_duplicates()

print("\nDataFrame after dropping duplicates:")
print(merged_rot.shape)

DataFrame before:
(613419, 29)

DataFrame after dropping duplicates:
(548222, 29)

In this notebook, where we only need the important features about a specific movies, we will drop some features. Also, it is important that the same features has same name. So we will rename the following features.

In [368]:
# Assuming 'releaseDateTheaters' and 'releaseDateStreaming' are columns in the 'movies' DataFrame
merged_rot['original_release_year'] = pd.to_datetime(merged_rot['original_release_date']).dt.year
merged_rot['streaming_release_year'] = pd.to_datetime(merged_rot['streaming_release_date']).dt.year

# Dropping the original date columns if needed
merged_rot.drop(columns=['original_release_date', 'streaming_release_date'], inplace=True)

print("\nDataFrame with 'original_release_date' and 'streaming_release_date' columns:")
merged_rot.head(2)

DataFrame with 'original_release_date' and 'streaming_release_date' columns:

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content,movie_title,movie_info,...,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count,original_release_year,streaming_release_year
3,m/0814255,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5/5,2010-02-09,Whether audiences will get behind The Lightnin...,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",...,49.0,149.0,Spilled,53.0,254421.0,43,73,76,2010,2015
6,m/0814255,Nick Schager,False,Slant Magazine,Rotten,1/4,2010-02-10,Harry Potter knockoffs don't come more transpa...,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",...,49.0,149.0,Spilled,53.0,254421.0,43,73,76,2010,2015

We have some missing values. Since we have a lot of data we will delete all those rows that have null values.

In [369]:
# Renaming columns
merged_rot.rename(columns={
    'movie_title': 'title',
    'movie_info': 'synopsis',
    'critics_consensus': 'review',
    'actors': 'cast'
}, inplace=True)

# Dropping specified columns
columns_to_drop = [
    'content_rating', 'tomatometer_status', 'audience_count',
    'tomatometer_top_critics_count', 'tomatometer_fresh_critics_count',
    'tomatometer_rotten_critics_count', 'critic_name', 'top_critic',
    'publisher_name', 'review_type', 'review_score', 'review_date', 'review_content', 'rotten_tomatoes_link'
]

merged_rot.drop(columns=columns_to_drop, inplace=True)

print("\nDataFrame after modifications:")
merged_rot.head(3)

DataFrame after modifications:

,title,synopsis,review,genres,directors,authors,cast,runtime,production_company,tomatometer_rating,tomatometer_count,audience_status,audience_rating,original_release_year,streaming_release_year
3,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",119.0,20th Century Fox,49.0,149.0,Spilled,53.0,2010,2015
6,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",119.0,20th Century Fox,49.0,149.0,Spilled,53.0,2010,2015
7,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",119.0,20th Century Fox,49.0,149.0,Spilled,53.0,2010,2015

In [370]:
merged_rot.info()

<class 'pandas.core.frame.DataFrame'>
Index: 548222 entries, 3 to 1129874
Data columns (total 15 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   title                   548222 non-null  object
 1   synopsis                548222 non-null  object
 2   review                  548222 non-null  object
 3   genres                  548222 non-null  object
 4   directors               548222 non-null  object
 5   authors                 548222 non-null  object
 6   cast                    548222 non-null  object
 7   runtime                 548222 non-null  float64
 8   production_company      548222 non-null  object
 9   tomatometer_rating      548222 non-null  float64
 10  tomatometer_count       548222 non-null  float64
 11  audience_status         548222 non-null  object
 12  audience_rating         548222 non-null  float64
 13  original_release_year   548222 non-null  int32
 14  streaming_release_year  548222 non-null  int32
dtypes: float64(4), int32(2), object(9)
memory usage: 62.7+ MB

-------------------------------------
## Rotten tomatoes movies and critic reviews dataset - Preprocessing

As the previous dataset, this dataset is also divided into two datasets, so, we will merged them by _id_.

In [371]:
# Merging the DataFrames on 'rotten_tomatoes_link'
merged_df_2 = pd.merge(rot_2, rot_movies2, on='id', how='inner')
merged_df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1469543 entries, 0 to 1469542
Data columns (total 26 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1469543 non-null  object
 1   title                 1464073 non-null  object
 2   audienceScore         1399294 non-null  float64
 3   tomatoMeter           1398270 non-null  float64
 4   rating                889498 non-null   object
 5   ratingContents        889498 non-null   object
 6   releaseDateTheaters   1184070 non-null  object
 7   releaseDateStreaming  1355722 non-null  object
 8   runtimeMinutes        1440071 non-null  float64
 9   genre                 1446093 non-null  object
 10  originalLanguage      1439891 non-null  object
 11  director              1460521 non-null  object
 12  writer                1311318 non-null  object
 13  boxOffice             1010267 non-null  object
 14  distributor           1133821 non-null  object
 15  soundMix              702960 non-null   object
 16  reviewId              1469543 non-null  int64
 17  creationDate          1469543 non-null  object
 18  criticName            1469543 non-null  object
 19  isTopCritic           1469543 non-null  bool
 20  originalScore         1026708 non-null  object
 21  reviewState           1469543 non-null  object
 22  publicatioName        1469543 non-null  object
 23  reviewText            1399259 non-null  object
 24  scoreSentiment        1469543 non-null  object
 25  reviewUrl             1255083 non-null  object
dtypes: bool(1), float64(3), int64(1), object(21)
memory usage: 281.7+ MB

In [372]:
merged_rot_2['distributor']

KeyError: 'distributor'

We have some missing values. Since we have a lot of data we will delete all those rows that have null values.

In [ ]:
# Dropping rows with missing values
merged_rot_2 = merged_df_2.dropna()

print("\nDataFrame after dropping rows with missing values:")
merged_rot_2.head(3)  # Displaying the first few rows of the resulting DataFrame without missing values

DataFrame after dropping rows with missing values:

,id,title,audienceScore,tomatoMeter,rating,ratingContents,releaseDateTheaters,releaseDateStreaming,runtimeMinutes,genre,...,reviewId,creationDate,criticName,isTopCritic,originalScore,reviewState,publicatioName,reviewText,scoreSentiment,reviewUrl
498,monsoon_wedding,Monsoon Wedding,87.0,95.0,R,"['Some Sex Related Dialogue', 'Language']",2002-02-22,2002-09-24,100.0,"Comedy, Drama",...,102677726,2022-04-08,Jimmy Cage,False,9/10,fresh,Jimmy Cage Movie Reviews (YouTube),MONSOON WEDDING is a wonderful film in which m...,POSITIVE,https://youtu.be/m8of8Xpd1UA
499,monsoon_wedding,Monsoon Wedding,87.0,95.0,R,"['Some Sex Related Dialogue', 'Language']",2002-02-22,2002-09-24,100.0,"Comedy, Drama",...,102661947,2022-02-26,Brian Eggert,False,4/4,fresh,Deep Focus Review,A celebration of life that acknowledges how fa...,POSITIVE,https://deepfocusreview.com/reviews/monsoon-we...
508,monsoon_wedding,Monsoon Wedding,87.0,95.0,R,"['Some Sex Related Dialogue', 'Language']",2002-02-22,2002-09-24,100.0,"Comedy, Drama",...,1931275,2010-09-19,Nick Rogers,False,4/4,fresh,The Film Yap,Not content to merely direct traffic of inters...,POSITIVE,http://www.thefilmyap.com/2010/07/20/heroes-of...

As did before, it is normal to have duplicates, but, for this we don't need the duplicated rows.

In [ ]:
print("\nDataFrame before:")
print(merged_rot_2.shape)

merged_rot_2 = merged_rot_2.drop_duplicates()

print("\nDataFrame after dropping duplicates:")
print(merged_rot_2.shape)

DataFrame before:
(276981, 26)

DataFrame after dropping duplicates:
(271704, 26)

In [ ]:
merged_rot_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 271704 entries, 498 to 1469521
Data columns (total 26 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    271704 non-null  object
 1   title                 271704 non-null  object
 2   audienceScore         271704 non-null  float64
 3   tomatoMeter           271704 non-null  float64
 4   rating                271704 non-null  object
 5   ratingContents        271704 non-null  object
 6   releaseDateTheaters   271704 non-null  object
 7   releaseDateStreaming  271704 non-null  object
 8   runtimeMinutes        271704 non-null  float64
 9   genre                 271704 non-null  object
 10  originalLanguage      271704 non-null  object
 11  director              271704 non-null  object
 12  writer                271704 non-null  object
 13  boxOffice             271704 non-null  object
 14  distributor           271704 non-null  object
 15  soundMix              271704 non-null  object
 16  reviewId              271704 non-null  int64
 17  creationDate          271704 non-null  object
 18  criticName            271704 non-null  object
 19  isTopCritic           271704 non-null  bool
 20  originalScore         271704 non-null  object
 21  reviewState           271704 non-null  object
 22  publicatioName        271704 non-null  object
 23  reviewText            271704 non-null  object
 24  scoreSentiment        271704 non-null  object
 25  reviewUrl             271704 non-null  object
dtypes: bool(1), float64(3), int64(1), object(21)
memory usage: 54.2+ MB

To merge all the datasets choosen we need to ensurance that all of the same variables has the same names. Also, we will delete some unnecessary rows.
Also, in this cells we will retrieve only the year from the original and streaming release data since there are datasets that only have the year.

In [ ]:
# Assuming 'releaseDateTheaters' and 'releaseDateStreaming' are columns in the 'movies' DataFrame
merged_rot_2['original_release_year'] = pd.to_datetime(merged_rot_2['releaseDateTheaters']).dt.year
merged_rot_2['streaming_release_year'] = pd.to_datetime(merged_rot_2['releaseDateStreaming']).dt.year

# Dropping the original date columns if needed
merged_rot_2.drop(columns=['releaseDateTheaters', 'releaseDateStreaming'], inplace=True)

print("\nDataFrame with 'releaseYearTheaters' and 'releaseYearStreaming' columns:")
merged_rot_2.head(2)

DataFrame with 'releaseYearTheaters' and 'releaseYearStreaming' columns:

,id,title,audienceScore,tomatoMeter,rating,ratingContents,runtimeMinutes,genre,originalLanguage,director,...,criticName,isTopCritic,originalScore,reviewState,publicatioName,reviewText,scoreSentiment,reviewUrl,original_release_year,streaming_release_year
498,monsoon_wedding,Monsoon Wedding,87.0,95.0,R,"['Some Sex Related Dialogue', 'Language']",100.0,"Comedy, Drama",English,Mira Nair,...,Jimmy Cage,False,9/10,fresh,Jimmy Cage Movie Reviews (YouTube),MONSOON WEDDING is a wonderful film in which m...,POSITIVE,https://youtu.be/m8of8Xpd1UA,2002,2002
499,monsoon_wedding,Monsoon Wedding,87.0,95.0,R,"['Some Sex Related Dialogue', 'Language']",100.0,"Comedy, Drama",English,Mira Nair,...,Brian Eggert,False,4/4,fresh,Deep Focus Review,A celebration of life that acknowledges how fa...,POSITIVE,https://deepfocusreview.com/reviews/monsoon-we...,2002,2002

In [ ]:
# Renaming columns
merged_rot_2.rename(columns={
    'runtimeMinutes': 'runtime',
    'director':'directors',
    'genre':'genres'
}, inplace=True)

columns_to_drop_2 = [
    'id', 'reviewId', 'creationDate', 'criticName', 'isTopCritic',
    'reviewState', 'reviewText', 'scoreSentiment', 'reviewUrl','ratingContents','rating','originalLanguage',
    'boxOffice','soundMix', 'distributor', 'publicatioName'
]

merged_rot_2.drop(columns=columns_to_drop_2, inplace=True)

print("\nDataFrame after additional modifications:")
merged_rot_2.head(3)

DataFrame after additional modifications:

,title,audienceScore,tomatoMeter,runtime,genres,directors,writer,originalScore,publicatioName,original_release_year,streaming_release_year
498,Monsoon Wedding,87.0,95.0,100.0,"Comedy, Drama",Mira Nair,Sabrina Dhawan,9/10,Jimmy Cage Movie Reviews (YouTube),2002,2002
499,Monsoon Wedding,87.0,95.0,100.0,"Comedy, Drama",Mira Nair,Sabrina Dhawan,4/4,Deep Focus Review,2002,2002
508,Monsoon Wedding,87.0,95.0,100.0,"Comedy, Drama",Mira Nair,Sabrina Dhawan,4/4,The Film Yap,2002,2002

In [ ]:
merged_rot_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 271704 entries, 498 to 1469521
Data columns (total 11 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   title                   271704 non-null  object
 1   audienceScore           271704 non-null  float64
 2   tomatoMeter             271704 non-null  float64
 3   runtime                 271704 non-null  float64
 4   genres                  271704 non-null  object
 5   directors               271704 non-null  object
 6   writer                  271704 non-null  object
 7   originalScore           271704 non-null  object
 8   publicatioName          271704 non-null  object
 9   original_release_year   271704 non-null  int32
 10  streaming_release_year  271704 non-null  int32
dtypes: float64(3), int32(2), object(6)
memory usage: 22.8+ MB

-------------------------------------
## IMDB top 250 movies- Preprocessing

movies.head()

In [ ]:
movies.head(3)

,rank,movie_id,title,year,link,imbd_votes,imbd_rating,certificate,duration,genre,...,director_id,director_name,writer_id,writer_name,storyline,user_id,user_name,review_id,review_title,review_content
0,1,tt0111161,The Shawshank Redemption,1994,https://www.imdb.com/title/tt0111161,"2,711,075",9.3,R,2h 22m,Drama,...,nm0001104,Frank Darabont,"nm0000175,nm0001104","Stephen King,Frank Darabont","Over the course of several years, two convicts...","ur16161013,ur15311310,ur0265899,ur16117882,ur1...","hitchcockthelegend,Sleepin_Dragon,EyeDunno,ale...","rw2284594,rw6606154,rw1221355,rw1822343,rw1288...","Some birds aren't meant to be caged.,An incred...",The Shawshank Redemption is written and direct...
1,2,tt0068646,The Godfather,1972,https://www.imdb.com/title/tt0068646,"1,882,829",9.2,R,2h 55m,"Crime,Drama",...,nm0000338,Francis Ford Coppola,"nm0701374,nm0000338","Mario Puzo,Francis Ford Coppola",The aging patriarch of an organized crime dyna...,"ur24740649,ur86182727,ur15794099,ur15311310,ur...","CalRhys,andrewburgereviews,gogoschka-1,Sleepin...","rw3038370,rw4756923,rw4059579,rw6568526,rw1897...","The Pinnacle Of Flawless Films!,An offer so go...",'The Godfather' is the pinnacle of flawless fi...
2,3,tt0468569,The Dark Knight,2008,https://www.imdb.com/title/tt0468569,"2,684,051",9.0,PG-13,2h 32m,"Action,Crime,Drama",...,nm0634240,Christopher Nolan,"tt0468569,nm0634300,nm0634240,nm0275286,tt0468569","Writers,Jonathan Nolan,Christopher Nolan,David...",When the menace known as the Joker wreaks havo...,"ur87850731,ur1293485,ur129557514,ur12449122,ur...","MrHeraclius,Smells_Like_Cheese,dseferaj,little...","rw5478826,rw1914442,rw6606026,rw1917099,rw5170...","The Dark Knight,The Batman of our dreams! So m...","Confidently directed, dark, brooding, and pack..."

In [ ]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   rank            250 non-null    int64
 1   movie_id        250 non-null    object
 2   title           250 non-null    object
 3   year            250 non-null    int64
 4   link            250 non-null    object
 5   imbd_votes      250 non-null    object
 6   imbd_rating     250 non-null    float64
 7   certificate     249 non-null    object
 8   duration        250 non-null    object
 9   genre           250 non-null    object
 10  cast_id         250 non-null    object
 11  cast_name       250 non-null    object
 12  director_id     250 non-null    object
 13  director_name   250 non-null    object
 14  writer_id       250 non-null    object
 15  writer_name     250 non-null    object
 16  storyline       250 non-null    object
 17  user_id         250 non-null    object
 18  user_name       250 non-null    object
 19  review_id       250 non-null    object
 20  review_title    250 non-null    object
 21  review_content  250 non-null    object
dtypes: float64(1), int64(2), object(19)
memory usage: 43.1+ KB

We have a missing value in certificate. Since we will delete this row, we do not need to delete this missing value individually. <br>
Also, in this particular dataset we have the duration that is equivalent to runtime but in hours. To have the same data format as the previous datasets we will create a column names _runtime_ that will be based on _duration_ column but in minutes.

In [ ]:
# Assuming the 'runtime' column contains values like '2h 22m'
# Extracting hours and minutes from the 'runtime' column
movies['hours'] = movies['duration'].str.extract(r'(\d+)h', expand=False).astype(float)
movies['minutes'] = movies['duration'].str.extract(r'(\d+)m', expand=False).astype(float)

# Calculating total runtime in minutes and assigning it to the 'runtime' column
movies['runtime'] = movies['hours'] * 60 + movies['minutes']

# Dropping temporary columns 'hours' and 'minutes'
movies.drop(columns=['hours', 'minutes'], inplace=True)

print("\nDataFrame with 'runtime' in minutes:")
movies.head(2)

DataFrame with 'runtime' in minutes:

,rank,movie_id,title,year,link,imbd_votes,imbd_rating,certificate,duration,genre,...,director_name,writer_id,writer_name,storyline,user_id,user_name,review_id,review_title,review_content,runtime
0,1,tt0111161,The Shawshank Redemption,1994,https://www.imdb.com/title/tt0111161,"2,711,075",9.3,R,2h 22m,Drama,...,Frank Darabont,"nm0000175,nm0001104","Stephen King,Frank Darabont","Over the course of several years, two convicts...","ur16161013,ur15311310,ur0265899,ur16117882,ur1...","hitchcockthelegend,Sleepin_Dragon,EyeDunno,ale...","rw2284594,rw6606154,rw1221355,rw1822343,rw1288...","Some birds aren't meant to be caged.,An incred...",The Shawshank Redemption is written and direct...,142.0
1,2,tt0068646,The Godfather,1972,https://www.imdb.com/title/tt0068646,"1,882,829",9.2,R,2h 55m,"Crime,Drama",...,Francis Ford Coppola,"nm0701374,nm0000338","Mario Puzo,Francis Ford Coppola",The aging patriarch of an organized crime dyna...,"ur24740649,ur86182727,ur15794099,ur15311310,ur...","CalRhys,andrewburgereviews,gogoschka-1,Sleepin...","rw3038370,rw4756923,rw4059579,rw6568526,rw1897...","The Pinnacle Of Flawless Films!,An offer so go...",'The Godfather' is the pinnacle of flawless fi...,175.0

Now it is the part were we renamed the columns and drop unnecessary ones.

In [ ]:
# Renaming columns
movies.rename(columns={
    'cast_name': 'cast',
    'director_name': 'directors',
    'storyline': 'synopsis',
    'writer_name': 'writer',
    'genre':'genres',
    'year':'original_release_year'
}, inplace=True)

# Dropping specified columns
columns_to_drop_movies = [
    'rank', 'link', 'movie_id', 'user_id', 'user_name', 'review_id',
    'review_title', 'review_content', 'cast_id', 'writer_id', 'director_id', 'certificate', 'duration'
]

movies.drop(columns=columns_to_drop_movies, inplace=True)

print("\nDataFrame after modifications in 'movies' dataset:")
movies.head(3)

DataFrame after modifications in 'movies' dataset:

,title,year,imbd_votes,imbd_rating,genres,cast,directors,writer,synopsis,runtime
0,The Shawshank Redemption,1994,"2,711,075",9.3,Drama,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont","Over the course of several years, two convicts...",142.0
1,The Godfather,1972,"1,882,829",9.2,"Crime,Drama","Marlon Brando,Al Pacino,James Caan,Richard S. ...",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola",The aging patriarch of an organized crime dyna...,175.0
2,The Dark Knight,2008,"2,684,051",9.0,"Action,Crime,Drama","Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Writers,Jonathan Nolan,Christopher Nolan,David...",When the menace known as the Joker wreaks havo...,152.0

-------------------------------------
## Reel Review- Preprocessing - SECALHAR N USAMOS

In [ ]:
reel_review.head(3)

,title,stars_rating,run_time,release_date,mpaa_rating,genre,director,cast
0,Terms of Endearment,2.5,132.0,1983.0,"Profanity, Sexual Content",Drama/Comedy,James L. Brooks,"Shirley MacLaine, Debra Winger, Jack Nicholson..."
1,1917,3.5,110.0,2019.0,"Violence, Disturbing Images",War,Sam Mendes,"George MacKay, Dean-Charles Chapman"
2,Spies in Disguise,2.0,101.0,2019.0,NaN,Animated,"Nick Bruno, Troy Quane","Will Smith, Tom Holland, Rashida Jones, Ben Me..."

In [ ]:
reel_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3990 entries, 0 to 3989
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         3990 non-null   object
 1   stars_rating  3990 non-null   float64
 2   run_time      3987 non-null   float64
 3   release_date  3706 non-null   float64
 4   mpaa_rating   3670 non-null   object
 5   genre         3990 non-null   object
 6   director      3989 non-null   object
 7   cast          3977 non-null   object
dtypes: float64(3), object(5)
memory usage: 249.5+ KB

As before, delete missing values.

In [ ]:
# Dropping rows with missing values
reel_review = reel_review.dropna()

In [ ]:
reel_review.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3441 entries, 0 to 3989
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         3441 non-null   object
 1   stars_rating  3441 non-null   float64
 2   run_time      3441 non-null   float64
 3   release_date  3441 non-null   float64
 4   mpaa_rating   3441 non-null   object
 5   genre         3441 non-null   object
 6   director      3441 non-null   object
 7   cast          3441 non-null   object
dtypes: float64(3), object(5)
memory usage: 241.9+ KB

In this particular dataset there are something that we need to do:
- run_time to runtime
- director to directors
- release_date to original_release_year and as a integer
- delete mpaa_rating
- genre have / and its important to replace the / by ,

In [ ]:
# Renaming columns
reel_review.rename(columns={'run_time': 'runtime', 
                            'director': 'directors', 
                            'release_date': 'original_release_year',
                            'genre':'genres'}, inplace=True)

# Convert 'original_release_year' to integer year
reel_review['original_release_year'] = reel_review['original_release_year'].astype(int)

# Dropping 'mpaa_rating' column
reel_review.drop(columns='mpaa_rating', inplace=True)

# Replace '/' with ',' in the 'genre' column
reel_review['genres'] = reel_review['genres'].str.replace('/', ',')

print("\nDataFrame after modifications in 'reel_review' dataset:")
reel_review.head(3)

DataFrame after modifications in 'reel_review' dataset:

,title,stars_rating,runtime,original_release_year,genres,directors,cast
0,Terms of Endearment,2.5,132.0,1983,"Drama,Comedy",James L. Brooks,"Shirley MacLaine, Debra Winger, Jack Nicholson..."
1,1917,3.5,110.0,2019,War,Sam Mendes,"George MacKay, Dean-Charles Chapman"
3,Just Mercy,3.0,136.0,2019,Drama,Destin Daniel Cretton,"Michael B. Jordan, Jamie Foxx, Brie Larson, Ti..."

---------------------------------------
## Merging the Datasets
Now that we did the separated the preprocessing, we will merge by title.

In [ ]:
# Assuming 'merged_rot', 'merged_rot_2', 'movies', 'reel_review' are DataFrames containing 'title' column

titles_merged_rot = set(merged_rot['title'])
titles_merged_rot_2 = set(merged_rot_2['title'])
titles_movies = set(movies['title'])
titles_reel_review = set(reel_review['title'])

# Find the unique titles across all four DataFrames
unique_titles_across_all = titles_merged_rot.intersection(titles_merged_rot_2, titles_movies, titles_reel_review)

# Find the count of unique titles in each DataFrame individually
count_unique_titles_merged_rot = len(titles_merged_rot - titles_merged_rot_2 - titles_movies - titles_reel_review)
count_unique_titles_merged_rot_2 = len(titles_merged_rot_2 - titles_merged_rot - titles_movies - titles_reel_review)
count_unique_titles_movies = len(titles_movies - titles_merged_rot - titles_merged_rot_2 - titles_reel_review)
count_unique_titles_reel_review = len(titles_reel_review - titles_merged_rot - titles_merged_rot_2 - titles_movies)

# Find the count of unique titles across all DataFrames
count_unique_titles_across_all = len(unique_titles_across_all)

# Output counts of unique titles
print("Count of unique titles in merged_rot:", count_unique_titles_merged_rot)
print("Count of unique titles in merged_rot_2:", count_unique_titles_merged_rot_2)
print("Count of unique titles in movies:", count_unique_titles_movies)
print("Count of unique titles in reel_review:", count_unique_titles_reel_review)
print("Intersection between the datasets:", count_unique_titles_across_all)

Count of unique titles in merged_rot: 4604
Count of unique titles in merged_rot_2: 577
Count of unique titles in movies: 45
Count of unique titles in reel_review: 1388
Intersection between the datasets: 41

In [373]:
final_movies= pd.concat([merged_rot, merged_rot_2, movies])
merged_data_movies = final_movies.groupby('title').agg(lambda x: x.dropna().unique().tolist()).reset_index()

In [ ]:
merged_data_movies.head(10)

,title,synopsis,review,genres,directors,authors,cast,runtime,production_company,tomatometer_rating,...,streaming_release_year,audienceScore,tomatoMeter,writer,originalScore,publicatioName,year,imbd_votes,imbd_rating,stars_rating
0,$9.99,"[Residents of a Sydney, Australia, apartment c...",[Its storyline isn't as wondrous as its visual...,"[Animation, Art House & International, Comedy]",[Tatia Rosenthal],"[Etgar Keret, Tatia Rosenthal]","[Geoffrey Rush, Anthony LaPaglia, Samuel Johns...",[78.0],[Regent Releasing],[73.0],...,[2017.0],[],[],[],[],[],[],[],[],[]
1,'71,[A young British soldier (Jack O'Connell) must...,"[Powerfully directed and acted, '71 stays true...","[Action & Adventure, Drama]",[Yann Demange],[Gregory Burke],"[Jack O'Connell, Sean Harris, Jack Lowden, Cha...",[99.0],[Roadside Attractions],[96.0],...,[2016.0],[],[],[],[],[],[],[],[],[]
2,'X'---The Man With the X-Ray Eyes,"[Intent on enhancing mankind's ocular ability,...","[By turns lurid and disturbing, The Man with t...","[Cult Movies, Horror, Science Fiction & Fantasy]",[Roger Corman],"[Ray Russell, Robert Dillon]","[Ray Milland, Don Rickles, Harold J. Stone, Di...",[79.0],[Orion Home Video],[88.0],...,[2017.0],[],[],[],[],[],[],[],[],[]
3,(500) Days of Summer,[],[],"[ROMANCE,COMEDY]",[Marc Webb],[],"[Joseph Gordon-Levitt, Zooey Deschanel]",[95.0],[],[],...,[],[],[],[],[],[],[],[],[],[3.5]
4,...And Justice for All,[Satirical drama in which an idealistic lawyer...,[A volcanic Al Pacino holds court in this hist...,"[Comedy, Drama, Mystery & Suspense]",[Norman Jewison],"[Barry Levinson, Valerie Curtin]","[Al Pacino, Jack Warden, John Forsythe, Lee St...",[120.0],[Columbia Pictures],[83.0],...,[2012.0],[],[],[],[],[],[],[],[],[]
5,"1,000 Times Good Night",[A war-zone photojournalist's (Juliette Binoch...,"[Beautifully filmed and powerfully acted, 1,00...",[Drama],[Erik Poppe],[Harald Rosenløw-Eeg],"[Juliette Binoche, Nikolaj Coster-Waldau, Laur...",[117.0],[Film Movement],[71.0],...,[2016.0],[],[],[],[],[],[],[],[],[]
6,10,"[A successful, middle-aged Hollywood songwrite...",[Blake Edwards' bawdy comedy may not score a p...,"[Comedy, Romance]",[Blake Edwards],[Blake Edwards],"[Dudley Moore, Bo Derek, Julie Andrews, Robert...",[122.0],[Waner Bros.],[67.0],...,[2014.0],[],[],[],[],[],[],[],[],[]
7,10 Cloverfield Lane,"[After surviving a car accident, Michelle (Mar...","[Smart, solidly crafted, and palpably tense, 1...","[Drama, Mystery & Suspense, Science Fiction & ...",[Dan Trachtenberg],"[Josh Campbell, Matthew Stuecken, Damien Chaze...","[Mary Elizabeth Winstead, John Goodman, John G...","[103.0, 105.0]",[Bad Robot Productions],[90.0],...,[2016.0],[79.0],[90.0],"[Josh Campbell,Matthew Stuecken,Damien Chazelle]","[4/5, 3.5/4, 5/5, 7.5/10, 6/10, A, 7/10, 3/4, ...","[Keith & the Movies, Deep Focus Review, Nerdop...",[],[],[],[3.0]
8,10 Things I Hate About You,"[Kat Stratford (Julia Stiles) is beautiful, sm...",[Julia Stiles and Heath Ledger add strong perf...,[Comedy],[Gil Junger],"[Karen McCullah Lutz, Kirsten Smith]","[Larisa Oleynik, Julia Stiles, Heath Ledger, A...",[97.0],[Buena Vista Pictures],[69.0],...,[2014.0],[],[],[],[],[],[],[],[],[]
9,10 Things I Hate about You,[],[],"[ROMANCE,COMEDY]",[Gil Junger],[],"[Heath Ledger, Julia Stiles, Joseph-Gordon Lev...",[98.0],[],[],...,[],[],[],[],[],[],[],[],[],[3.0]

In [ ]:
merged_data_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10095 entries, 0 to 10094
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   title                   10095 non-null  object
 1   synopsis                10095 non-null  object
 2   review                  10095 non-null  object
 3   genres                  10095 non-null  object
 4   directors               10095 non-null  object
 5   authors                 10095 non-null  object
 6   cast                    10095 non-null  object
 7   runtime                 10095 non-null  object
 8   production_company      10095 non-null  object
 9   tomatometer_rating      10095 non-null  object
 10  tomatometer_count       10095 non-null  object
 11  audience_status         10095 non-null  object
 12  audience_rating         10095 non-null  object
 13  original_release_year   10095 non-null  object
 14  streaming_release_year  10095 non-null  object
 15  audienceScore           10095 non-null  object
 16  tomatoMeter             10095 non-null  object
 17  writer                  10095 non-null  object
 18  originalScore           10095 non-null  object
 19  publicatioName          10095 non-null  object
 20  year                    10095 non-null  object
 21  imbd_votes              10095 non-null  object
 22  imbd_rating             10095 non-null  object
 23  stars_rating            10095 non-null  object
dtypes: object(24)
memory usage: 1.8+ MB

In [ ]:
# Loop through all columns and replace empty lists with zeros
for col in merged_data_movies.columns:
    merged_data_movies[col] = merged_data_movies[col].apply(lambda x: 0 if isinstance(x, list) and len(x) == 0 else x)